.header {
   display: flex;
   height: 154px;
   width: 1324px;
   background-color: yellow;
   margin: 0 auto;
   
}

.reports {
   width: 883px;
   height: 40px;
   background-color: red;
   margin-top: 57px;
   display: flex;
}

.profile {
   display: flex;
   align-items: center;
   background-color: white;
   width: 361px;
   height: 56px;
   margin-top: 49px;
   margin-left: 80px;
}

.reportsBlock {
   width: 754px;
   height: 38px;
   border-bottom: 1.5px solid rgba(210, 209, 209, 1);
   display: flex;
   justify-content: space-between;
   margin-left: 40px;
}