.header {
   display: flex;
   height: 154px;
   width: 1324px;
   margin: 0 auto;
   
}

.reports {
   width: 883px;
   height: 40px;
   margin-top: 57px;
   display: flex;
}

.profile {
   display: flex;
   align-items: center;
   background-color: white;
   width: 361px;
   height: 56px;
   margin-top: 49px;
   margin-left: 80px;
   gap: 23px;
}

.reportsBlock {
   width: 754px;
   height: 38px;
   border-bottom: 1.5px solid rgba(210, 209, 209, 1);
   display: flex;
   justify-content: space-between;
   margin-left: 40px;
   gap: 40px;
   overflow: hidden;
   text-wrap: nowrap;
   
}

.arrow {
   margin-left: auto;
}

.employee {
   font-size: 16px;
   line-height: 24px;
   font-weight: 700;
   letter-spacing: 0.44px;
}

.employeeRole {
   font-size: 14px;
   line-height: 20px;
   letter-spacing: 0.15px;
   color: rgba(152, 159, 163, 1);
}

.navItem {
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.44px;
   vertical-align: center;
   transition: all 0.2s ease-in-out;
   color: rgba(210, 209, 209, 1);
   cursor: pointer;
   transition: all 0.4s ease-in-out;
   
   
   &:hover {
      color: rgba(50, 63, 71, 1);
      border-bottom: 4.5px solid rgba(84, 211, 194, 1);
   }
   
   &_active {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.44px;
      vertical-align: center;
      transition: all 0.2s ease-in-out;
      color: rgba(50, 63, 71, 1);
      border-bottom: 4.5px solid rgba(84, 211, 194, 1);
      cursor: pointer;
      transition: all 0.4s ease-in-out;
   }
}