.wrapper {
   width: 414px;
   height: 626px;
   border-radius: 32px;
   background-color: white;
   margin-left: 40px;
   padding: 17px 0 0 32px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   overflow-x: hidden; // A
   overflow-y: auto; // A
   
   h2 {
      margin-bottom: 11px;  
      font-size: 20px;
      line-height: 44px;
   }

   ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 18px;

      li {
         display: flex;
         align-items: center;
         gap: 16px;
         max-width: 350px;
         height: 36px;
      }
   }

      .circle {
         width: 28px;
         height: 28px;
         border-radius: 15px;
         background-color: rgba(115, 207, 122, 1);
         margin-right: 6px;
         display: flex;
         align-items: center;
         justify-content: center;
         text-align: center;
         font-weight: 900;
         color: white;
         font-size: 20px;
      }

      .operationType {
         font-weight: 600;
         font-size: 14px;
         line-height: 18px;
         letter-spacing: -0.56px;
         color: rgba(109, 121, 134, 1);
         margin-bottom: 2px;
         
      }

      .amount {
         font-weight: 700;
         font-size: 18px;
         line-height: 120%;
         letter-spacing: 0%;
         
      }
   
}